name: CI

on:
  # Only run push on main
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  # Always run on PRs
  pull_request:

concurrency:
  group: '${{ github.head_ref }}-${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.ci_lint_version }} / JDK ${{ matrix.ci_java_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ci_java_version: [ '17' ]
        ci_lint_version: [ '30.3.1', '30.4.0-beta05', '31.0.0-alpha08' ]
    env:
      DEP_OVERRIDES: 'true'
      DEP_OVERRIDE_LINT: ${{ matrix.ci_lint_version }}
      DEP_OVERRIDE_KOTLIN: ${{ matrix.ci_kotlin_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v3

      - name: Install JDK ${{ matrix.ci_java_version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.ci_java_version }}

      - name: Build
        uses: gradle/gradle-build-action@v3
        with:
          arguments: compileKotlin

      # Test only on latest because test outputs change wildly between lint versions
      - name: Check
        if: matrix.ci_lint_version == '30.3.1'
        uses: gradle/gradle-build-action@v3
        with:
          arguments: check --stacktrace

      - name: (Fail-only) Upload the build report
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: error-report
          path: '**/build/reports/*'

